body {
  background-color: #2c2f33;
  color: #99aab5;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input[type="text"],
input[type="url"],
textarea {
  background-color: #23272a;
  color: white;
}

code {
  font-family: "Ubuntu", "Arial", sans-serif;
}

.btn {
  background-color: #7289da;
  color: white;
}

.btn:disabled {
  background-color: #4e5d94;
  color: gray;
}
